{% extends 'blog/base.html' %}
{% load static %}

{% block title %} 400 Bad Request {% endblock %}

{% block content %}

<div class="w3l-error-grid py-5 text-center">
    <div class="container py-lg-5 py-md-4">
        <div class="center-align">
            <h1>400</h1>
            <h2>Bad Request/h2>
            <p>We are very sorry for the inconvinience. Its look like you're trying an invalid request or URL that has been
                deleted or never even existed.</p>
            <div class="mt-5">
                <a href="/" class="btn-small"> Back to home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}