
{% extends "blog/base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block content %}

<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian pt-lg-4 pt-md-3 pb-md-4">
        <div class="container">
            {% if messages %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for message in messages %}
                    <strong> {{message}}</strong>
                    {% endfor %}
                </div>
                <button type="buttom" class="close" data-dismiss="alert" arial-label="Close">
                    <span arial-hidden="true">&times:</span>
                </button>
            </div>
            {% endif %}
            <div class="heading">
                <h3 class="category-title mb-3"> Forgot password</h3>
                <p class="mb-md-5 mb-4">A reset password link will be sent to this email address</p>
            </div>
            <div class="row">
                <div class="col-lg-8 form-inner-cont">
                    <form action="{% url 'password_reset' %}" method="post" class="reset-password-form">
                        {% csrf_token %}
                        <div class="form">
                            <div class="form-input">
                                <input type="text" name="email" id="w3lEmail" placeholder="Email Address *"
                                    required="" />
                            </div>
                            <br/>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-style btn-primary">Send link &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>
  </div>

{% endblock %}