{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Password Reset Complete  {% endblock %}

{% block content %}

<div class="w3l-contact-10 py-5" id="contact">
  <div class="form-41-mian pt-lg-4 pt-md-3 pb-md-4">
      <div class="container">
        <center>
          <div class="heading">
              <h3 class="category-title mb-3"> Password Reset Complete</h3>
              <p class="mb-md-5 mb-4"> Your account password has been reset 😉✅.</p>
              <div class="text-center">
                  <a href="{% url 'login' %}"><button class="btn btn-style btn-primary">Login to your Account &rarr;</button></a>
              </div>
  </div>
        </center>
      <!-- //contacts-5-grid -->
  </div>
</div>


{% endblock %}