{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Reset Password Link Sent ✅ {% endblock %}

{% block content %}

<div class="w3l-contact-10 py-5" id="contact">
  <div class="form-41-mian pt-lg-4 pt-md-3 pb-md-4">
      <div class="container">
        <center>
          <div class="heading">
              <h3 class="category-title mb-3"> Reset Password</h3>
              <p class="mb-md-5 mb-4">Please check your inbox and follow the instructions to reset your account password.</p>
              <p class="mb-md-5 mb-4">Don't forget to check your spams. Just Incase😉</p>
          </div>
        </center>
      <!-- //contacts-5-grid -->
  </div>
</div>


{% endblock %}