{% extends 'blog/base.html' %}

{% load static %}
{% block title %} Create An Account {% endblock %}


{% block content %}

<div class="w3l-contact-10 py-5" id="contact">
  <div class="form-41-mian pt-lg-4 pt-md-3 pb-md-4">
      <div class="container">
        {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <div id="form_errors">
                {% for message in messages %}
                <strong> {{message}}</strong>
                {% endfor %}
            </div>
            <button type="buttom" class="close" data-dismiss="alert" arial-label="Close">
            <span arial-hidden="true">&times:</span>
            </button>
        </div>
        {% endif %}
          <div class="heading">
              <h3 class="category-title mb-3">Register</h3>
              <p class="mb-md-5 mb-4">Create An Account.</p>
          </div>
          <div class="row">
              <div class="col-lg-8 form-inner-cont">
                  <form action="{% url 'register' %}" method="post" class="signin-form">
                      {% csrf_token %}
                      <div class="form">
                          <div class="form-input">
                              <input type="text" name="first_name" id="w3lName" placeholder="First Name *"
                                  required="" />
                          </div>
                          </br>
                          <div class="form-input">
                              <input type="text" name="last_name" id="w3lName" placeholder="Last Name *"
                                  required />
                          </div>
                          </br>
                          <div class="form-input">
                              <input type="email" name="email" id="w3lName" placeholder="Email Address *"
                                  required="" />
                          </div>
                          </br>
                          <div class="form-input">
                              <input type="text" name="username" id="w3lName" placeholder="Username *"
                                  required />
                          </div>
                          </br>
                          <div class="form-input">
                              <input type="password" name="password" id="password" placeholder="Password *"
                                  required="" />
                          </div>
                          </br>
                          <div class="form-input">
                              <input type="password" name="confirm_password" id="password" placeholder="Confirm Password *"
                                  required />
                          </div>
                      </div>
                      </br>
                      {% comment %} <div class="form-input">
                          <textarea name="w3lMessage" id="w3lMessage" placeholder="Your message here"
                              required=""></textarea>
                      </div> {% endcomment %}
                      <div class="text-center">
                          <button class="btn btn-style btn-primary">Create Account &rarr;</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <!-- //contacts-5-grid -->
  </div>
</div>


{% endblock %}